# ignore documents directory
doc/

# ignore dataset files
dataset/

# ignore index files
idx/

# ignore eda directory
eda/

# ignore retrieval directory
retrieval/

# ignore evaluation directory
evaluation/

# ignore git files
.git/
.gitignore

# ignore virtual environment directory
.venv/

# ignore pycache directory
__pycache__/
app/backend/src/__pycache__/

# ignore general files
README.MD
normalize.py
app/backend/src/retrieval_fragmented.py
requirements.txt